h2 {
	font-size: 32px;
}

.small {
	font-size: 24px;
}

.medium {
	font-size: 18px;
}

.large {
	font-size: 16px;
}

@media only screen and (max-width: 300px) {
	body {
		background-color: red;
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (min-width: 300px) {
	body {
		background-color: green;
	}

	.small {
		width: calc((100% / 3)*2);
	}

	.medium {
		width: calc(100% / 3);
	}

	.large {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	body {
		background-color: blue;
	}

	div {
		display: inline-block;
	}

	.small {
		max-width: 32%;
	}

	.medium {
		max-width: 32%;
	}

	.large {
		max-width: 32%;
	}
}